
.display-2 {
    margin-top : 4rem;
    color : white ;
    text-align: center;
    background-color: #fff;
    background-color: rgba(0,0,0,0.75);
}


.input {
    margin-left : 28rem ;
    margin-right : 28rem ;
    margin-top : 8.5rem ;
    /* margin-right : 25rem ; */
    /* background-color: #fff; */
    background-color: rgb(255,255,255);
    padding-bottom : 1.5rem ;
    padding-top : 1.5rem ;
    border-radius: 1rem;
}

form{

    padding-bottom : 3rem ;
}

#authorName {
    margin-right : 0rem;
    margin-left : 0rem ;
}

#copies {
    margin-right : 0rem;
    margin-left : 0rem ;
}

.mb-3 {
    color : black ;
    font-weight: 600;

    padding-left: 2rem ;
    padding-right: 2rem ;
    /* position: relative; */
}

.btn {
    margin-left : 2rem;
}

.error_class {   
    font-family: 'Cairo', sans-serif;
    color : black;
    text-align : center;
    background-color: #fff;
    background-color: rgba(220, 47, 2,0.75);
}

.submit_successful {
   
    font-family: 'Cairo', sans-serif;
    color : black;
    text-align : center;
    background-color: #fff;
    background-color: rgba(128, 237, 153,0.75);
}

.accession_number {
    /* background-color: white; */
    font-family: 'Cairo', sans-serif;
    color : white ;
    padding : 0.5rem 0 1rem 0 ;
    margin-left : 20rem ;
    margin-right : 20rem ;
    border-radius : 0.5rem ;
    background-color: rgba(72, 191, 227,0.75);
    
}

.accession_number a {
    padding-left: 0.5rem ;
}

.accession_number h3 {
    text-align: center;
}


.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (min-width : 1200px) {
    .input {
        margin-left : 22rem ;
        margin-right : 22rem ;
        margin-top : 6rem ;
    }

    .accession_number {
        margin-left : 15rem ;
        margin-right : 15rem ;        
    }

}


@media (min-width : 1100px) and (max-width : 1200px) {
    .input {
        margin-left : 19rem ;
        margin-right : 19rem ;
        margin-top : 6rem ;
    }

    .accession_number {
        margin-left : 15rem ;
        margin-right : 15rem ;        
    }

}

@media (min-width : 900px) and (max-width : 1100px) {
    .input {
        margin-left : 15rem ;
        margin-right : 15rem ;
        margin-top : 5rem ;
    }

    .accession_number {
        margin-left : 10rem ;
        margin-right : 10rem ;        
    }

}

@media (min-width : 700px) and (max-width : 900px) {
    .input {
        margin-left : 11rem ;
        margin-right : 11rem ;
        margin-top : 5rem ;
    }

    .accession_number {
        margin-left : 7rem ;
        margin-right : 7rem ;        
    }
}

@media (min-width : 600px) and (max-width : 700px) {
    .input {
        margin-left : 10rem ;
        margin-right : 10rem ;
        margin-top : 5rem ;
    }

    .accession_number {
        margin-left : 6rem ;
        margin-right : 6rem ;        
    }
}

@media (min-width : 400px) and (max-width : 600px) {
    .input {
        margin-left : 4rem ;
        margin-right : 4rem ;
        margin-top : 5rem ;
    }

    .accession_number {
        margin-left : 1rem ;
        margin-right : 1rem ;        
    }
}

@media (min-width : 350px) and (max-width : 400px) {
    .input {
        margin-left : 3rem ;
        margin-right : 3rem ;
        margin-top : 5rem ;
    }

        .accession_number {
        margin-left : 0.5rem ;
        margin-right : 0.5rem ;        
    }
}
















