body {
    /* background-color: black;; */
    background-image: url(../static/bgimage03.jpg);
    background-repeat: repeat;
    background-size: cover;
    /* height : 76vh; */
}

h1 {
    /* text-align: center; */
    margin-left : 3rem;
    margin-top : 5rem ;
    padding-top: 2rem;
}

.mb-3 {
    margin-left:  3rem;
    /* margin-top : 1rem ; */
    margin-right: 3rem;
}

.btn {
    margin-left : 3rem ;

}  

.block {
    margin-left : 27rem ;
    margin-right : 27rem ;
    margin-bottom: 12rem;
    background-color: #fff;
    background-color: rgba(255,255,255,0.90);
    padding-bottom: 2.25rem;
    margin-top : 11rem;
    border-radius: 1.5rem;
}

form{
    margin-top : 1rem;
}

@media (min-width : 1200px) {
    .block {
        margin-left : 23rem ;
        margin-right : 23rem ;
        margin-top : 11rem ;
        margin-bottom: 6.6rem;
    }
}


@media (min-width : 1100px) and (max-width : 1200px) {
    .block {
        margin-left : 19rem ;
        margin-right : 19rem ;
        margin-top : 8.5rem ;
        margin-bottom: 9.15rem;
    }

}

@media (min-width : 900px) and (max-width : 1100px) {
    .block {
        margin-left : 15rem ;
        margin-right : 15rem ;
        margin-top : 9rem ;
        margin-bottom: 8.9rem;
    }
}

@media (min-width : 700px) and (max-width : 900px) {
    .block {
        margin-left : 11rem ;
        margin-right : 11rem ;
        margin-top : 9rem ;
        margin-bottom: 9.0rem;
    }
}

@media (min-width : 600px) and (max-width : 700px) {
    .block {
        margin-left : 4rem ;
        margin-right : 4rem ;
        margin-top : 9rem ;
        margin-bottom: 9.3rem;
    }
}

@media (min-width : 400px) and (max-width : 600px) {
    .block {
        margin-left : 4rem ;
        margin-right : 4rem ;
        margin-top : 10rem ;
        margin-bottom: 9.15;
    }
}

@media (min-width : 350px) and (max-width : 400px) {
    .input {
        margin-left : 3rem ;
        margin-right : 3rem ;
        margin-top : 5rem ;
        margin-bottom: 0.15;
}
}